In [1]:
#!pip install palmerpenguins

In [27]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [28]:
def times_seven(x):

  if not isinstance(x, int):
    exit("Please provide a numeric variable.")

  if x == 7:
    print("I love sevens!")

  return 7 * x

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [29]:
times_seven("a")

times_seven(7)

times_seven(1)

times_seven([1,3,5,7])

SystemExit: Please provide a numeric variable.

3. Consider the following function:

In [35]:
def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

    return res

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [31]:
add_or_subtract(5, 6, type = "subtract")  # produce -1

add_or_subtract("orange") #error defined by a different function...

add_or_subtract(5, 6, type = "multiply") #error defined by the function add_or_subtract()

TypeError: can only concatenate str (not "int") to str

4. Consider the following code:

In [38]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)

None
None


In your Global Environment, what is the value of...

a. `first_num` = 5

b. `second_num` = 3

c. `result` = None

d. `result_2`  = None