---
title: "Example Questions"
author: "Chloe Feehan"
format: 
  html:
    code-fold: true
    embed-resources: true
    toc: true
theme: flatly
---

In [2]:
import pandas as pd

In [3]:
parks = pd.read_csv("national_park_trails.csv")

# Question 1
What is the average elevation gain of all trails in Alaska with a difficulty rating of 4 or higher?

In [7]:
parks[(parks["state_name"] == "Alaska") & (parks["difficulty_rating"] >= 4)][["elevation_gain"]].mean()

elevation_gain    1027.306629
dtype: float64

# Question 2
Which state has the most trails that are loop-type?

In [107]:
# loop trails is not in the correct df format, which is why idxmax() is producing "California"
# if you want it to convert to an actual df, do commented code
# the indexes in this are the states
loop_trails = parks[parks["route_type"] == "loop"].groupby("state_name")[["name"]].count()
loop_trails.idxmax()

# loop_trails = parks[parks["route_type"] == "loop"].groupby("state_name")[["name"]].count().reset_index()
# index = loop_trails["name"].idxmax()
# loop_trails["state_name"].iloc[index]

name    California
dtype: object

# Question 3
What is the total number of reviews for trails with the birding feature in their description?

In [108]:
parks[parks["activities"].apply(lambda x: "birding" in x)][["num_reviews"]].sum()

num_reviews    160501
dtype: int64

# Question 4
What is the average trail popularity for all trails in Yosemite National Park?

In [109]:
parks[parks["area_name"] == "Yosemite National Park"][["popularity"]].mean()

popularity    9.235686
dtype: float64

# Question 5
How many trails are categorized as both “hiking” and “birding” activities in California?

In [111]:
ca = parks[parks["state_name"] == "California"]
ca[ca["activities"].apply(lambda x: "birding" in x and "hiking" in x)].count()

trail_id             410
name                 410
area_name            410
city_name            410
state_name           410
country_name         410
_geoloc              410
popularity           410
length               410
elevation_gain       410
difficulty_rating    410
route_type           410
visitor_usage        394
avg_rating           410
num_reviews          410
features             410
activities           410
units                410
dtype: int64

# Question 6
What percentage of trails in the United States have a 5-star average rating?

In [80]:
trails_5 = parks[parks["avg_rating"] == 5][["trail_id"]].count()
trails_5
trails_total = parks["trail_id"].count()
trails_total
(trails_5/trails_total) *100

trail_id    16.269242
dtype: float64

# Question 7
Which city has the highest number of trails with the ‘waterfall’ feature?

In [87]:
waterfall = parks[parks["features"].apply(lambda x: "waterfall" in x)].groupby("city_name")[["trail_id"]].count()
waterfall.idxmax()

trail_id    Yosemite Valley
dtype: object

# Question 8
Find the trail with the highest difficulty rating in Denali National Park that also has a length shorter than 8 kilometers.

In [105]:
denali = parks[(parks["area_name"] == "Denali National Park") & (parks["length"] < 8000)]
denali.sort_values(by = "difficulty_rating", ascending = False)

#denali.groupby("name")["difficulty_rating"].max()

    trail_id  ... units
9   10327620  ...     i
15  10358126  ...     i
1   10236086  ...     i
6   10236080  ...     i
7   10236075  ...     i
11  10333556  ...     i
12  10265251  ...     i
22  10333558  ...     i
3   10236076  ...     i
8   10236084  ...     i
10  10265252  ...     i
16  10236078  ...     i
17  10343441  ...     i
24  10333557  ...     i

[14 rows x 18 columns]

# Question 9
How many trails have more than 50 reviews but a popularity score of less than 4?

In [99]:
parks[(parks["num_reviews"]> 50) & (parks["popularity"] < 4)].count()

trail_id             5
name                 5
area_name            5
city_name            5
state_name           5
country_name         5
_geoloc              5
popularity           5
length               5
elevation_gain       5
difficulty_rating    5
route_type           5
visitor_usage        5
avg_rating           5
num_reviews          5
features             5
activities           5
units                5
dtype: int64

# More Questions

Reshape the dataset so that instead of having the columns popularity, length, and elevation_gain, these values appear in a single "metric" column with a corresponding "value" column. Keep the trail_id, name, and state_name as identifier columns.

In [114]:
metric_data = parks.melt(id_vars = ["trail_id", "name", "state_name"],
                         var_name = "metric",
                         value_vars = ["popularity", "length", "elevation_gain"],
                         value_name = "value")
metric_data.head()

   trail_id                        name state_name      metric    value
0  10020048     Harding Ice Field Trail     Alaska  popularity  24.8931
1  10236086  Mount Healy Overlook Trail     Alaska  popularity  18.0311
2  10267857          Exit Glacier Trail     Alaska  popularity  17.7821
3  10236076        Horseshoe Lake Trail     Alaska  popularity  16.2674
4  10236082          Triple Lakes Trail     Alaska  popularity  12.5935