---
title: "Project"
format: 
  html:
    code-fold: true
    embed-resources: true
    toc: true
theme: flatly
---

In [1]:
# load in libraries
import pandas as pd
from plotnine import *

In [6]:
# load in data

metro = pd.read_csv("/Users/chloefeehan/Desktop/python/GSB544/Project/data/metro.csv")
emissions = pd.read_csv("/Users/chloefeehan/Desktop/python/GSB544/Project/data/emissions.csv")

In [57]:
# filter emission data to state and year range
filtered_emissions = emissions[(emissions["state-name"] == "California") & 
                               (emissions["year"].isin(range(2017, 2022))) & 
                               (emissions["sector-name"] == "Transportation carbon dioxide emissions") &
                               (emissions["fuel-name"] == "All Fuels")
                               ]
filtered_emissions.loc[:, "value"] = ((filtered_emissions["value"] * 0.24)/4)*1000000


# merge datasets
data_clean = metro.merge(filtered_emissions, on = "year", how = "outer")
data_clean["total_ridership"] = data_clean["total_ridership"].replace(',', '', regex=True).astype(float)
data_clean["total_miles"] = data_clean["total_miles"].replace(',', '', regex=True).astype(float)


#divide carbon evenly by quarter

grouped = data_clean.groupby(['year', 'quarter'])['total_ridership'].sum().reset_index()

data_clean = pd.merge(data_clean, grouped, on=['year', 'quarter'], how='left')

data_clean["co2"] = (data_clean["value"]/data_clean["total_ridership_y"])*data_clean["total_ridership_x"]

     year  quarter  day_type  ...                              sector-name  fuel-name      value
0    2017        1   weekday  ...  Transportation carbon dioxide emissions  All Fuels  12.480162
1    2017        1  saturday  ...  Transportation carbon dioxide emissions  All Fuels  12.480162
2    2017        1    sunday  ...  Transportation carbon dioxide emissions  All Fuels  12.480162
3    2017        1   weekday  ...  Transportation carbon dioxide emissions  All Fuels  12.480162
4    2017        1  saturday  ...  Transportation carbon dioxide emissions  All Fuels  12.480162
..    ...      ...       ...  ...                                      ...        ...        ...
175  2021        4  saturday  ...  Transportation carbon dioxide emissions  All Fuels  10.747078
176  2021        4    sunday  ...  Transportation carbon dioxide emissions  All Fuels  10.747078
177  2021        4   weekday  ...  Transportation carbon dioxide emissions  All Fuels  10.747078
178  2021        4  saturday  ...  Transportation carbon dioxide emissions  All Fuels  10.747078
179  2021        4    sunday  ...  Transportation carbon dioxide emissions  All Fuels  10.747078

[180 rows x 10 columns]