# Titanic Wrangling

In this practice activity you'll continue to work with the titanic dataset in ways that flex what you've learned about both data wrangling and data visualization.

In [2]:
import numpy as np
import pandas as pd

# Import the titanic dataset here

data_dir = "https://dlsun.github.io/pods/data/"
df_titanic = pd.read_csv(data_dir + "titanic.csv")

## 1. Filter the data to include passengers only. Calculate the joint distribution (cross-tab) between a passenger's class and where they embarked.

In [12]:
# Code here
df_titanic = df_titanic.dropna(subset = ["fare"])

distributions = pd.crosstab(df_titanic["class"], df_titanic["embarked"], normalize=True)
distributions

embarked         C         Q         S
class
1st       0.109992  0.002324  0.133230
2nd       0.020139  0.005422  0.183579
3rd       0.079009  0.087529  0.378776

## 2. Using the joint distribution that calculated above, calculate the following:

* the conditional distribution of their class given where they embarked
* the conditional distribution of where they embarked given their class

Use the conditional distributions that you calculate to answer the following quesitons:

* What proportion of 3rd class passengers embarked at Southampton?
* What proportion of Southampton passengers were in 3rd class?

In [16]:
# Code here

## 3. Make a visualization showing the distribution of a passenger's class, given where they embarked.

Discuss the pros and cons of using this visualization versus the distributions you calculated before, to answer the previous questions.

In [ ]:
# Code here