## Week 2

### Pivoting

In [4]:
import pandas as pd

population = pd.read_csv("pop.csv")

# pivot wide to long
long_population = population.melt(id_vars=["country"], var_name="year", value_name="population")


#pivoting back long to wide
wide_population = long_population.pivot(index = "country", columns = "year", values = "population")
wide_population = wide_population.reset_index()

### Joining

In [13]:
data_dir = "http://dlsun.github.io/pods/data/names/"
names1995 = pd.read_csv(data_dir + "yob1995.txt",
                        header=None,
                        names=["Name", "Sex", "Count"])
names1995

names2015 = pd.read_csv(data_dir + "yob2015.txt",
                        header=None,
                        names=["Name", "Sex", "Count"])
names2015

# combine both datasets
# if you wanted to combine more than 2 datasets, you can just list more
pd.concat([names1995, names2015])

# but it doesn't have year column so you don't know which values are from which
# create year column to distinguish
names1995["Year"] = 1995
names2015["Year"] = 2015
names = pd.concat([names1995, names2015], ignore_index=True)
names

# joining datasets based on left dataset (names1995) and based on common values (name and sex)
names1995.merge(names2015, on=["Name", "Sex"])

#change suffixes to be more informative
names1995.merge(names2015, on=["Name", "Sex"], suffixes=("1995", "2015"))

## merge datasets by sex even though columns are named differently

# Create new DataFrames where the column names are different
names2015_ = names2015.rename({"Sex": "Gender"}, axis=1)

# This is how you merge them.
names1995.merge(
    names2015_,
    left_on=("Name", "Sex"),
    right_on=("Name", "Gender")
)

           Name Sex  Count1995  Year1995  Count2015  Year2015
0       Jessica   F      27935      1995       1587      2015
1        Ashley   F      26603      1995       3424      2015
2         Emily   F      24378      1995      11786      2015
3      Samantha   F      21646      1995       5340      2015
4         Sarah   F      21369      1995       4521      2015
...         ...  ..        ...       ...        ...       ...
15675    Zephan   M          5      1995         23      2015
15676  Zeppelin   M          5      1995         70      2015
15677     Zerek   M          5      1995          5      2015
15678     Ziggy   M          5      1995         44      2015
15679      Zyon   M          5      1995        148      2015

[15680 rows x 6 columns]